@import "~styles/colors.scss";

.board-column-title{
  border-bottom : 1px solid $neutral-tint;
  padding       : 10px 20px;
  margin-bottom : 10px;
  background    : #FFF;

  h3 {
    padding : 0px;
    margin  : 0px;
    color   : $medium-tint;
  }
}
