@import "~styles/colors.scss";

.red, .yellow, .blue, .green, .purple {
  float         : left;
  width         : 12%;
  height        : 8px;
  border-radius : 15%;
  overflow      : hidden;
}

.red {
  background: $red;
  color:  $red;
}

.yellow {
  background: $yellow;
  color: $yellow;
}

.blue{
  background: $blue;
  color: $blue;
}

.green {
  background: $green;
  color: $green;
}

.purple {
  background: $purple;
  color: $purple;
}
