@import "~styles/colors.scss";

.card {
  position      : relative;
  padding       : 10px;
  margin-bottom : 10px;
  border        : 1px solid $neutral-tint;
  border-radius : 3px;
  background    : #FFF;
  cursor        : pointer;

  &:hover {
    opacity: 0.75;
    & > button { display : block }
  }

  & > button { display: none }
}

.card-info {
  margin-top: 10px;
  i { color : $dark-tint }
}
