@import "~styles/colors.scss";

.option-button {
  border     : none;
  background : transparent;
  float      : right;
  color      : $dark-tint;
  position   : absolute;
  top        : 10px;
  right      : 7px;
}
