@import "~styles/colors.scss";

.description-holder {
  width: 100%;
  cursor: pointer;
  i {
    float: right;
    display: none;
    margin-right: 10px;
    font-size: 30px;
    color : $neutral-tint;
  }
  &:hover i {display: block}
}

.label {
  display:block;
}

.description {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.description-textarea {
  width: 100%;
  height: 180px;
  padding: 20px;
  resize: none;
  background: $lighter-tint;
  border:1px solid $neutral-tint;
  border-radius: 10px;
  outline: none;
}
